.grid-box {
    /* margin-left: 40rem; */
    height: 100%;
  
    padding-top: 2rem;
    display: grid;
    /* grid-template-columns: 330px 350px; */

    justify-content: end; 

    grid-template-columns: repeat(auto-fit , minmax(250px, 480px));
    grid-template-rows: 100px 100px 100px;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
  
}

/* complete navbar  */
.logo2 {
    min-width: 50px;
    /* background-color: red; */
    position: absolute;
    left: 0;
background-color: whitesmoke;
border: none;
border-radius: 50px;
}
/* Logo  */

.logo2 img {
    width: 180px;
    object-fit: cover;
}



.container {
    margin-left: 18rem;
    margin-top: 2rem;
    /* background-color: red; */
   
}

.grid-items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.2rem;
    background-color: white;
}


.grid1 {
    background-color: white;
    grid-row: span 3;

}
.grid2{
    background-color: white; 
}


.grid3 {
    background-color: white;

}

.grid4 {
    background-color: white;
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    gap: 7rem;
    padding: 1.2rem;
}

.grid5 {
    background-color: white;
    grid-column: span 2;
    padding: 1rem;

}

.grid5 span {
    margin-left: 1rem;
}

.grid5 span:nth-child(1) {
    margin-left: 0rem;

}

.grid6 {
    background-color: white;
    height: 400px;
    grid-column: span 2;
}

.line {
    margin-top: 1rem;
}

/* bg: "#FCE081", text: "#A75800", hover: "#ffca6e" */
.commercial-text {
    height: 30px;
    width: 100px;
    border-radius: 50px;
    background-color: #FCE081;
    text-align: center;
    color: #A75800;
    padding-top: 0.3rem;
}

.commercial-text:hover {
    background-color: #ffca6e;
}


.grey {
    color: gray;
}

.keyword {
    margin-top: 1rem;
    
}

.add-list {
    float: right;
    width: 80px;
    height: 22px;
    border-radius: 5px;
    background-color: #6E72FC;
    color: white;
}

@media (max-width: 375px) {
 
}

@media only screen and (max-device-width: 480px) {
    .grid-box {
        /* grid-template-columns: 120px 120px; */
        /* grid-template-columns: repeat(auto-fit, 186px); */
        grid-template-columns: repeat(auto-fit , minmax(180px, 330px));
  grid-row-gap: 0;
  grid-column-gap: 0;
        /* grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); */
        /* align-content: center;
        align-items: center; */
        justify-content: center;
        /* margin-left: -40rem; */
    }
    .container {
        margin-left: 2rem;
        /* margin-top: 2rem; */
        display: grid;
        justify-content: start;
        margin-left: 0 !important;
    }
    .grid1{
        margin-top: 1rem;
    }
}
@media only screen and (max-device-width: 320px) {
    .grid-box {
        /* grid-template-columns: 120px 120px; */
        /* grid-template-columns: repeat(auto-fit, 186px); */
        grid-template-columns: repeat(auto-fit , minmax(70px, 230px));
  /* grid-row-gap: 0; */
  /* grid-column-gap: 0; */
        /* grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); */
        /* align-content: center;
        align-items: center; */
        justify-content: center;
        /* margin-left: -40rem; */
        margin-right: -1rem;
        margin-top: 7rem;
    }
/* .logo{
    position: relative;
    top: 0;
    margin-left: 3.3rem;
} */
}
@media only screen and (max-device-width: 500px) {

.logo2{
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    margin-left: 3.3rem;
}.container{
   width: 400px;
}
}
@media only screen and (min-device-width: 1024px) {

    .logo2{
        display: none;
     
    }
    }