/* complete navbar  */
nav .logo {
    min-width: 50px;
    /* background-color: red; */

}
/* Logo  */

nav .logo img {
    width: 180px;
    object-fit: cover;
}


.project {
    background-color: #d3d3d3;
    width: 200px;
    height: 50px;
    display: flex !important;
    flex-direction: column !important;
    padding: 0.3rem;
    padding-left: 1.5rem;
    border-radius: 10px;
    border: none;
   
}


/* sidenav */
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: var(--panel-color);
    padding: 10px 14px;
   
    /* background-color: red; */
}




/* Dashboard menu elememts */

.menu-items {
    background-color: white;
    /* margin-top: 10px; */
    height: calc(100% - 45px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
}

.menu-items li {
    list-style: none;
}

.menu-items li a {
    display: flex;
    align-items: center;
    height: 40px;
    text-decoration: none;
    padding-left: 1rem;
    padding-top: 1rem;
    /* background-color: red; */
}

.manu-items li a i {
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 1rem;


}

.menu-items li a .link-name {
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);
    padding-left: 1rem;
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name {
    color: var(--primary-color);
}


.sub-menu {
    margin-left: 1rem;
}

.project-end {
    background-color: #d7e4f1;
    width: 200px;
    height: 140px;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between;
    padding: 0.7rem;
    padding-left: 1.2rem;
    border-radius: 10px;
    /* align-items: center; */
    text-align: start;

}


.add-btn{

    background-color:rgba(144, 238, 144,1);
    border-radius: 4px;
    color: black;
    cursor: pointer;
}

.add-btn:hover{
    background-color:rgba(144, 238, 144,0.6);
}

.logo1{
    width: 2rem;
}

/* 1024 */
@media only screen and (max-width: 1024px) {
   nav{
    display: none;
   }
}
/* @media only screen and (max-width: 480px) {
    nav{
     display: none;
    }
 }
  */